---
layout: default
title: GitLab for Education Survey Report
description: "Read the results of our GitLab for Education Survey."
twitter_image: "/images/opengraph/education-survey-2020-opengraph.png"
canonical_path: "/solutions/education/edu-survey/"
suppress_header: true
extra_css:
  - contributing.css
  - community.css
  - bl-modal.css
  - video-carousel.css
  - all-remote.css
  - sales-and-free-trial-common.css
extra_js:
  - libs/slick.min.js
  - video-carousel.js
  - all-clickable.js
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        = image_tag "/images/community/gitlab-for-education-logo-digital-rgb-04.svg", class: "gitlab-for-education-logo-digital-rgb-04", alt: "Gitlab for Education logo"
        %h1.page-headline GitLab for Education 2020 Program Survey
        %h2.page-subtitle See the results and discover how DevOps is transforming education
        .row.text-center
          = link_to "Download the report now", "/solutions/education/edu-survey/edu-survey-2020.pdf", class: "btn cta-btn orange margin-top20"

.wrapper.wrapper--large-fonts
  #content.devops-content.u-margin-top-lg
    .wrapper.container.js-in-page-nav-group{role: "main"}
      .row.u-margin-top-lg
        .col-md-10.col-md-offset-1
          %h2.u-text-brand

.wrapper.all-remote-landing
  .hero
    .container
      .row.hero-row
        .col-md-5.hero-image-col
          .hero-image-wrap
            .playbook-color-block.playbook-color-block-1
            .playbook-color-block.playbook-color-block-2
            = image_tag "/images/education/edu-survey-2020-cover.png"
          .playbook-share-block
            .playbook-share-text
              Share:
            - url = full_url(current_page)
            .share-butons.clearfix
              %a.share-btn.share-btn-facebook{ href: "http://www.facebook.com/sharer.php?u=#{url}",
                target: "_blank",
                onclick: "openSocialLink(this, 500, 400); return false;" }
                %i.fab.fa-facebook
                %span.sr-only
                  Share on Facebook
              %a.share-btn.share-btn-twitter{ href: "http://twitter.com/share?url=#{url}&text=#{current_page.data.title}",
                target: "_blank",
                onclick: "openSocialLink(this, 500, 400); return false;" }
                %i.fab.fa-twitter
                %span.sr-only
                  Share on Twitter
              %a.share-btn.share-btn-linkedin{ href: "https://www.linkedin.com/shareArticle?mini=true&url=#{url}&title=#{current_page.data.title}&summary=&source=",
                target: "_blank",
                onclick: "openSocialLink(this, 500, 400); return false;" }
                %i.fab.fa-linkedin
                %span.sr-only
                  Share on LinkedIn

        .col-md-7.hero-content-col
          .hero-content
            %h1
              %strong
                Download the GitLab for Education 2020 Program Survey Results
            %ul.margin-top20
              %li
                Discover how GitLab's Education Program Members are transforming education with DevOps
              %li
                Understand the advantages of bringing DevOps & GitLab to your classroom
              %li
                Learn how DevOp is innovating scientific research
              %li
                See what challenges educational institutions face in their DevOps journey

.row.text-center
  = link_to "Learn more about the GitLab for Education Program", "/solutions/education/", class: "btn cta-btn yellow margin-top20"

%main.key-takeaways
  %section.container.container2020
    .col-md-12
      %h2 Key Takeaways
    .col-md-6
      %h4 Institution-wide adoption
      %p
        GitLab is used extensively across the entire educational institution. Adoption extends
        well beyond typical Computer Science departments into many academic disciplines and
        colleges on campuses, including engineering, natural and social sciences, medical fields,
        and library science.
      %h4 Multi-disciplinary adoption
      %p
        GitLab is used for a wide variety of purposes across the institution and generally for more
        than one primary purpose. Uses include teaching, learning, research, student portfolios,
        information technology, campus administration, medical and library sciences, and building
        open source software.
    .col-md-6
      %h4 DevOps in the classroom
      %p
        GitLab for Education Program members teach and learn every stage of the DevOps lifecycle.
        The ability to teach all stages in one platform is a crucial advantage for both the faculty and
        students. Adoption is higher in the manage through configure stages, with the least adoption
        in the secure and protect stages.
      %h4 Cross campus collaboration
      %p
        DevOps and GitLab are not siloed into either teaching code or running the institution.
        Cross-collaboration and multiple use cases between students, faculty, staff, and information
        technology professionals are common. DevOps has become an enterprise tool at educational
        institutions.
    .col-md-12
      .block-quote
        %h3.block-quote-text  "I've found the GitLab for Education Program to be invaluable for both teaching and research. The student cohorts receive in-depth training on how to use GitLab, as an exemplar of contemporary DevOps practice."
    .col-md-6
      %h4 GitLab's deployment flexibility
      %p
        The flexibility of deployment method, either self-managed or SaaS, is a large advantage of the GitLab for Education Program offering. Campuses are able to choose the method that works best with their security requirements and authentication systems as well as meeting research funding requirements.
      %h4 Advancing and transforming science
      %p
        GitLab transforms and advances scientific research. Source control management, continuous integration, and continuous deployment are adopted to increase collaboration, speed up the research cycle, increase the repeatability of results, and meet public access policy requirements of funding agencies.
    .col-md-6
      %h4 Need for increased awareness outside of early adopters
      %p
        The survey highlights a need to increase awareness of DevOps and GitLab for Education offerings among faculty.
    .col-md-12
      .block-quote
        %h3.block-quote-text  "The students nor faculty realize how GitLab could impact their daily life in terms of project collaboration even if they know it exists."    
